.header {
  padding: 20px;
  grid-area: h;
  background-color: #F1ECC3;
  padding: 0 8px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  width: 60px;
}

.headerLogo img {
  width: 100%;
}
