.nav {
  grid-area: n;
  background-color: #57837B;
  width: 210px;
  font-size: 16px
}

.links {
  margin-bottom: 32px;
}

.item {
  padding: 15px 16px;
  background-color: rgb(87, 131, 123, 0.5);
  border-bottom: #515E63 1px solid;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: #fbf7f0;
}
