.descriptionBlock {
  padding: 16px;
}

.backgroundPhoto {
  width: 100%;
}

.backgroundPhoto img {
  width: 100%;
}

.profileInfoTitle {
  font-weight: 700;
  color: #ee6f57;
}

.userAvatar {
  width: 60px;
  height: 60px;
}
