.app {
  background-color: #C9D8B6;
  min-height: 100vh;
  font-family: 'Merriweather', sans-serif;
}

.app-wrapper {
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  max-width: 1160px;
  padding-left: 40px;
  padding-right: 40px;  
  grid-template-areas:
    'h h'
    'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
  grid-area: c;
  background-color: #515E63;
  padding: 40px;
}
